@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Heavy.woff2") format("woff2");
  src: url("../fonts/Gilroy-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2");
  src: url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2");
  src: url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Chocolates';
  src: url("../fonts/TTChocolates-Regular.woff2") format("woff2");
  src: url("../fonts/TTChocolates-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.wrapper h3 {
  grid-column-start: 1;
  grid-column-end: 8;
}

.big-wrapper {
  margin-left: calc((100vw - 1200px)/2);
}

.dropdown {
  position: relative;
}

.dropdown .dropdown-content {
  display: none;
  position: absolute;
  z-index: 999;
  background-color: #383e5e;
  width: 100%;
  height: auto;
  padding: 2px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.arrow {
  font-size: 9px;
  vertical-align: 3px;
  padding-left: 2px;
}

section#upper {
  max-height: 100vh;
  height: 850px;
  background: url(../img/head.jpg) no-repeat;
  background-color: #383e5e;
  background-size: cover;
  background-attachment: fixed;
}

section#upper header {
  padding-top: 40px;
}

section#upper header .mobile-icon {
  display: none;
}

section#upper header .logo-menu {
  display: flex;
  align-self: start;
  padding-top: 10px;
}

section#upper header img {
  grid-column-start: 1;
  grid-column-end: 3;
  margin-left: -125px;
  pointer-events: none;
  align-self: center;
}

section#upper header nav {
  border-bottom: 2px solid #8a93ab;
  padding: 10px 0 22px 2px;
  grid-column-start: 3;
  grid-column-end: 13;
  align-self: end;
}

section#upper header nav li {
  padding: 11px 0 1px 0;
}

section#upper header ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

section#upper header li:nth-child(1) {
  margin-right: 56px;
}

section#upper header li:nth-child(2) {
  margin-right: 291px;
}

section#upper header li:nth-child(3) {
  margin-right: 48px;
}

section#upper header li:nth-child(4) {
  margin-right: 172px;
}

section#upper header a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Gilroy';
  font-weight: bold;
  font-style: normal;
  font-size: 15px;
}

section#upper .article {
  padding-top: 183px;
  text-align: right;
  grid-column-start: 3;
  grid-column-end: 13;
}

section#upper .article h1 {
  text-transform: uppercase;
  font-family: 'Gilroy';
  font-weight: bold;
  font-style: normal;
  font-size: 96px;
  color: #fff;
  opacity: 0.25;
  line-height: 100px;
  -webkit-text-stroke: 3px #616d8c;
}

section#upper .article h2 {
  font-family: 'Gilroy';
  font-weight: 500;
  font-style: normal;
  font-size: 46px;
  color: #fff;
  padding-top: 15px;
}

section#main {
  position: relative;
  padding-bottom: 175px;
}

section#main .background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  display: grid;
  grid-template-columns: 1fr 15fr;
}

section#main .background .right-side {
  background-color: #fff;
}

section#main .background .left-side {
  background-color: #f8f8f8;
  border-left: 2px solid #ebebef;
}

section#main .we-offer {
  padding-top: 114px;
  grid-column-start: 1;
  grid-column-end: 8;
}

section#main h3 {
  font-family: 'Gilroy';
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  font-size: 46px;
  color: #383e5e;
  margin-bottom: 64px;
  line-height: 50px;
}

section#main p {
  margin-top: 26px;
  font-size: 21px;
  font-family: 'TT Chocolates';
  font-weight: normal;
  font-style: normal;
  color: #2f313c;
  line-height: 28px;
}

section#main .wrapper.srv {
  margin-top: 125px;
  margin-bottom: 140px;
}

section#main .wrapper.srv h4 {
  font-family: 'Gilroy';
  font-weight: bold;
  font-style: normal;
  font-size: 21px;
  text-transform: uppercase;
}

section#main .wrapper.srv a {
  font-family: 'TT Chocolates';
  font-weight: normal;
  font-style: normal;
  font-size: 21px;
  text-decoration: none;
}

section#main .service {
  background-color: #383e5e;
  height: 475px;
  grid-column-start: 2;
  grid-column-end: 5;
  padding-left: 50px;
  color: #fff;
}

section#main .service h4 {
  padding-top: 65px;
  margin-bottom: 300px;
}

section#main .service a {
  color: #fff;
  border-bottom: 1px solid #fff;
}

section#main .service-item {
  border: 2px solid #eceded;
  border-left: none;
  align-self: center;
  height: 425px;
  background-color: #fff;
  transition: 0.3s;
  padding-left: 50px;
  color: #383e5e;
}

section#main .service-item h4 {
  padding-top: 40px;
}

section#main .service-item img {
  margin-top: 30px;
  margin-bottom: 35px;
}

section#main .service-item a {
  color: #383e5e;
  border-bottom: 1px solid #383e5e;
}

section#main .service-item:hover {
  background-color: #383e5e;
  transition: 0.3s;
  color: #fff;
}

section#main .service-item:hover a {
  color: #fff;
  border-bottom: 1px solid #fff;
}

section#main .first {
  grid-column-start: 5;
  grid-column-end: 9;
}

section#main .second {
  grid-column-start: 9;
  grid-column-end: 13;
}

.my-carousel {
  margin-bottom: 100px;
}

.my-carousel h3 {
  margin-bottom: 78 !important;
}

.my-carousel .owl-item {
  width: 450px;
}

.my-carousel .owl-item img {
  height: 250px;
  width: 450px;
}

.my-carousel p {
  padding-top: 13px;
  padding-left: 20px;
  font-size: 21px;
  font-family: 'TT Chocolates';
  font-weight: normal;
  font-style: normal;
  color: #2f313c;
}

.my-carousel p a {
  color: #2f313c;
  text-decoration: none;
  border-bottom: 1px solid #2f313c;
}

.progress {
  background-color: #e4e5e8;
}

.progress .slide-progress {
  width: 0px;
  max-width: 1200px;
  height: 2px;
  background: #383e5e;
}

section#upper-footer {
  height: auto;
  position: relative;
  padding-bottom: 35px;
}

section#upper-footer .background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  display: grid;
  grid-template-columns: 1fr 15fr;
}

section#upper-footer .background .right-side {
  background-color: #383e5e;
}

section#upper-footer .background .left-side {
  background-color: #383e5e;
  border-left: 2px solid #888b9e;
}

section#upper-footer .hor-line {
  height: 2px;
  width: 100%;
  background-color: #888b9e;
  position: absolute;
  top: 100px;
}

section#upper-footer .wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

section#upper-footer .wrapper ul {
  list-style: none;
}

section#upper-footer .wrapper ul li a {
  color: #fff;
  text-decoration: none;
  font-family: 'TT Chocolates';
  font-weight: normal;
  font-style: normal;
  font-size: 21px;
  line-height: 50px;
}

section#upper-footer .wrapper h5 {
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  font-family: 'Gilroy';
  font-weight: bold;
  font-style: normal;
  padding-top: 65px;
  margin-bottom: 80px;
}

section#upper-footer .wrapper .f-first {
  grid-column-start: 1;
  grid-column-end: 3;
}

section#upper-footer .wrapper .f-second {
  grid-column-start: 3;
  grid-column-end: 5;
}

section#upper-footer .wrapper .f-third {
  grid-column-start: 6;
  grid-column-end: 7;
}

footer {
  height: 100px;
  padding-top: 35px;
  background-color: #303550;
  position: relative;
}

footer .background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 15fr;
}

footer .background .right-side {
  background-color: #303550;
}

footer .background .left-side {
  background-color: #303550;
  border-left: 2px solid #888b9e;
}

footer .wrapper {
  z-index: 100;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-transform: uppercase;
  align-items: center;
  font-family: 'Gilroy';
  font-weight: bold;
  font-style: normal;
  color: #fff;
}

footer .wrapper .logo {
  grid-column-start: 1;
  grid-column-end: 2;
}

footer .wrapper .logo img {
  width: 155px;
  height: auto;
}

footer .wrapper .copy {
  grid-column-start: 3;
  grid-column-end: 5;
}

footer .wrapper .copy .copyru {
  opacity: 0.35;
  margin-left: 34px;
}

footer .wrapper .dropdown {
  grid-column-start: 6;
}

footer .wrapper a {
  color: #fff;
  text-decoration: none;
}

footer .wrapper .dropdown-content {
  width: auto;
  padding-left: 1px;
  padding-right: 9px;
}

@media screen and (max-device-width: 1440px) {
  body .wrapper {
    width: 1000px;
  }
  body .big-wrapper {
    margin-left: calc((100vw - 1000px)/2);
  }
  body section#upper {
    background-position: center bottom;
    background-size: cover;
  }
  body section#upper header li:nth-child(1) {
    margin-right: 43px;
  }
  body section#upper header li:nth-child(2) {
    margin-right: 150px;
  }
  body section#upper header li:nth-child(3) {
    margin-right: 43px;
  }
  body section#upper header li:nth-child(4) {
    margin-right: 155px;
  }
  body section#upper .article h1 {
    font-size: 80px;
    line-height: 92px;
  }
  body section#upper .article h2 {
    font-size: 40px;
  }
  body section#main {
    padding-bottom: 110px;
  }
  body section#main p {
    font-size: 18px;
    margin-top: 20px;
  }
  body section#main h3 {
    margin-bottom: 40px;
  }
  body section#main .we-offer {
    padding-top: 90px;
  }
  body section#main .wrapper.srv {
    margin-top: 80px;
    margin-bottom: 90px;
  }
  body section#main .wrapper.srv h4 {
    font-size: 19px;
  }
  body section#main .wrapper.srv a {
    font-size: 18px;
  }
  body section#main .service h4 {
    margin-bottom: 295px;
  }
  body section#main .service-item {
    padding-left: 15px;
  }
  body section#main .progress .slide-progress {
    max-width: 1000px;
  }
  body section#upper-footer {
    padding-bottom: 0;
  }
  body section#upper-footer .wrapper ul li a {
    font-size: 17px;
    line-height: 40px;
  }
  body footer {
    height: auto;
    padding: 30px 0;
  }
  body footer .wrapper .copy .copyru {
    margin-left: 5px;
  }
}

@media screen and (max-device-width: 1024px) {
  body .background {
    display: none !important;
  }
  body .wrapper {
    width: 860px;
  }
  body .big-wrapper {
    width: 860px;
    margin: 0 auto !important;
  }
  section#upper header {
    padding-top: 40px;
  }
  section#upper header nav {
    padding-bottom: 25px;
  }
  section#upper header img {
    width: 185px;
    height: auto;
    margin-left: -60px;
    align-self: center;
    padding-bottom: 25px;
  }
  section#upper header li {
    margin-right: 50px !important;
  }
  section#upper header li li:nth-child(1) {
    margin-left: 20px !important;
  }
  section#upper header li:nth-child(4) {
    margin-right: 40px !important;
  }
  section#upper header li:last-child {
    margin: 0 !important;
  }
  section#upper .article h1 {
    font-size: 69px !important;
    line-height: 86px !important;
  }
  section#upper .article h2 {
    font-size: 36px !important;
  }
  section#main {
    padding-bottom: 45px !important;
    background-color: #f8f8f8;
  }
  section#main .wrapper.srv {
    grid-template-columns: repeat(11, 1fr);
    margin-top: 50px !important;
  }
  section#main .service {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  section#main .service h4 {
    margin-bottom: 275px !important;
  }
  section#main img {
    width: 275px;
    height: auto;
  }
  section#main .first {
    grid-column-start: 4;
    grid-column-end: 8;
  }
  section#main .second {
    grid-column-start: 8;
    grid-column-end: 12;
  }
  section#main .slide-progress {
    max-width: 860px !important;
  }
  section#upper-footer {
    background-color: #383e5e;
  }
  footer .copy span {
    display: block;
    text-align: center;
  }
}

@media screen and (max-device-width: 768px) {
  body .wrapper {
    width: 700px;
  }
  body .big-wrapper {
    width: 700px;
  }
  .dropdown .dropdown-content {
    position: relative;
    box-shadow: none;
    display: none;
  }
  section#upper {
    background-attachment: scroll;
  }
  section#upper .wrapper {
    display: block;
    position: relative;
    padding: 30px 20px 0px 20px;
  }
  section#upper .dropdown:hover .dropdown-content {
    display: none;
  }
  section#upper header {
    border-bottom: 2px solid #8a93ab;
  }
  section#upper header .logo-menu {
    display: flex;
    justify-content: space-between;
  }
  section#upper header .mobile-icon {
    display: block;
  }
  section#upper header .mobile-icon img {
    width: 35px;
  }
  section#upper header img {
    padding-left: 20px;
    width: 250px;
    margin: 0;
  }
  section#upper header nav {
    border: none;
    display: none;
    margin-top: -25px;
  }
  section#upper header nav ul {
    display: block;
    text-align: center;
    background-color: #383e5e;
    padding: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  section#upper header nav ul li {
    margin: 0 !important;
  }
  section#upper header nav ul li:nth-child(4) {
    margin-right: 0px !important;
  }
  section#upper header nav ul li:nth-child(1) {
    margin-left: 0px !important;
  }
  section#upper .article {
    padding-top: 140px;
    text-align: center;
  }
  section#upper .article h1 {
    opacity: .40;
  }
  body section#main img {
    width: 100%;
  }
  body section#main .slide-progress {
    max-width: 700px !important;
  }
  body section#main .we-offer {
    padding-top: 40px;
    grid-column-start: 2;
    grid-column-end: 12;
  }
  body section#main .srv {
    margin-bottom: 40px !important;
  }
  body section#main .srv .service {
    padding-left: 20px;
    height: 425px;
  }
  body section#main .srv .service h4 {
    margin-bottom: 235px !important;
  }
  body section#main .srv .service-item {
    height: 375px;
  }
  body section#main .srv img {
    width: 220px;
  }
  body section#main .wrapper h3 {
    grid-column-start: 2;
    grid-column-end: 8;
  }
  body section#main .my-carousel {
    margin-bottom: 30px;
  }
  body section#main .my-carousel p {
    font-size: 30px;
  }
  body section#upper-footer {
    height: auto;
    padding-bottom: 40px !important;
  }
  body section#upper-footer p {
    font-size: 10px;
  }
  body section#upper-footer .wrapper {
    display: flex;
    justify-content: space-around;
  }
  body section#upper-footer .wrapper h5 {
    margin-bottom: 40px;
  }
}

@media screen and (max-device-width: 450px) {
  body .logo-menu {
    justify-content: space-between;
    padding-top: 20px;
  }
  body .logo-menu img {
    padding-left: 0;
  }
  body .logo-menu .mobile-icon {
    padding-top: 9px;
  }
  body .big-wrapper {
    width: 100%;
    padding: 0;
  }
  body .wrapper {
    padding: 0px 10px !important;
    margin: 0 auto !important;
    width: auto;
    display: block;
    text-align: center !important;
    margin: 0;
  }
  body section#upper header {
    padding-top: 30px !important;
  }
  body section#upper .article h1 {
    line-height: 30px !important;
    font-size: 31px !important;
    opacity: 1;
    font-family: 'Gilroy';
    font-weight: 900;
    font-style: normal;
  }
  body section#upper .article h2 {
    text-align: right;
    font-size: 27px !important;
    line-height: 25px !important;
  }
  body section#main h3 {
    font-size: 28px;
    line-height: 33px;
  }
  body section#main img {
    width: 100%;
    max-width: 95%;
    margin: 25px 0;
  }
  body section#main .srv {
    height: auto !important;
  }
  body section#main .srv h4 {
    padding-top: 0;
  }
  body section#main .srv img {
    width: auto;
  }
  body section#main .srv .service {
    height: auto !important;
    padding: 25px 0;
  }
  body section#main .srv .service h4 {
    padding-top: 0;
    margin-bottom: 20px !important;
  }
  body section#main .srv .service-item {
    height: auto;
    padding: 25px 0;
  }
  body section#main .my-carousel {
    width: auto !important;
  }
  body section#main .my-carousel p {
    font-size: 20px;
  }
  body section#main .slide-progress {
    display: none;
  }
  body section#upper-footer {
    padding-bottom: 15px !important;
  }
  body section#upper-footer .wrapper {
    display: block;
  }
  body section#upper-footer .wrapper h5 {
    padding-top: 35px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #f8f8f8;
  }
  body section#upper-footer .hor-line {
    display: none;
  }
  footer {
    padding: 20px 0;
  }
  footer div {
    margin-bottom: 15px;
  }
}
